<ion-content>
  <div class="home-wrapper">
    <div class="header-wrapper">
      <span style="font-size: 20px">Pedidos</span>
    </div>
    <div class="not-orders">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="135"
        height="134"
        viewBox="0 0 135 134"
        fill="none"
      >
        <path
          d="M106.583 22.3333H28.4167C22.2495 22.3333 17.25 27.3328 17.25 33.5V111.667C17.25 117.834 22.2495 122.833 28.4167 122.833H106.583C112.751 122.833 117.75 117.834 117.75 111.667V33.5C117.75 27.3328 112.751 22.3333 106.583 22.3333Z"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M89.8333 11.1667V33.5"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M45.1667 11.1667V33.5"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M17.25 55.8333H117.75"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M95.4167 78.1667H61.9167"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M73.0833 100.5H39.5833"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M39.5833 78.1667H39.6393"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M95.4167 100.5H95.4726"
          stroke="#262626"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div
        style="
          width: 319px;
          height: 131px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 21px;
          display: inline-flex;
        "
      >
        <div
          style="
            text-align: center;
            color: #262626;
            font-size: 28px;
            font-family: SF Pro Text;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Histórico vazio
        </div>
        <div
          style="
            opacity: 0.57;
            text-align: center;
            color: #262626;
            font-size: 18px;
            font-family: SF Pro Text;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
          Venha aqui relembrar <br />aquela refeição única que foi pedida!
        </div>
      </div>
      <ion-button> Encontre sua refeição! </ion-button>
    </div>
  </div>
</ion-content>
