<ion-tabs class="tabs-wrapper">
  <ion-tab-bar slot="bottom" class="tabs-group">
    <ion-tab-button tab="home" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <div class="blur"></div>
    </ion-tab-button>
    <ion-tab-button tab="favorites" class="tab-button">
      <ion-icon name="heart"></ion-icon>
      <div class="blur"></div>
    </ion-tab-button>
    <ion-tab-button tab="orders" class="tab-button">
      <ion-icon name="time"></ion-icon>
      <div class="blur"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
