<ion-content [fullscreen]="true" style="position: relative">
  <div class="background-wrapper"></div>
  <div class="background-rounded-footer"></div>
  <div class="apresentation-wrapper">
    <div class="content-presentation-information">
      <p style="font-size: 44px; color: var(--ion-color-white); margin: 0">
        BEM VINDO
      </p>
      <p style="font-size: 32px; color: var(--ion-color-white); margin: 0">
        AO PROJETO
      </p>
    </div>
    <div class="content-apresentation-footer">
      <img
        src="../../assets/hai-bosu-logo.svg"
        height="230px"
        class="imageLogo"
      />
      <div class="logo-site">
        <p style="font-size: 58px">HAI</p>
        <p style="font-size: 36px">BOSU</p>
      </div>
      <ion-button>Vamos lá?</ion-button>
    </div>
  </div>
</ion-content>
