/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-button {
  width: 80%;
  height: 70px;
  font-size: 24px;

  --background: var(--ion-color-yellow);
  --background-hover: var(--ion-color-yellow);
  --background-activated: var(--ion-color-yellow);
  --background-focused: var(--ion-color-yellow);

  --color: var(--ion-color-black);

  --border-radius: 12px 0 12px 12px;
  --border-color: var(--ion-color-white);
  --border-style: solid;
  --border-width: 4px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --padding-top: 10px;
  --padding-bottom: 10px;

  ion-button:hover {
    opacity: 0.5;
  }
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;

  > span {
    opacity: 1;
  }
}

ion-input {
  color: var(--ion-color-dark);

  .sc-ion-input-ios {
    --placeholder-color: rgb(135, 135, 135);
    --placeholder-size: 12px;
  }

  label {
    gap: 10px;
  }
}

input,
input::placeholder {
  font-size: 12px;
}

.label-text-wrapper .sc-ion-input-ios {
  color: rgb(91, 91, 91);
  font-size: 20px;
}

@font-face {
  font-family: "SF PRO Text, san serif";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: "SF PRO Text Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../src/assets/fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: "SF PRO Text SemiBold";
  src: url("../src/assets/fonts/SF-Pro-Text-Semibold.otf");
}

@font-face {
  font-family: "SF PRO Text Medium";
  src: url("../src/assets/fonts/SF-Pro-Text-Medium.otf");
}

@font-face {
  font-family: "SF PRO Text Thin";
  font-weight: lighter;
  src: url("../src/assets/fonts/SF-Pro-Text-Thin.otf");
}

@font-face {
  font-family: "SF PRO Rounded, san serif";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/SF-Pro-Rounded-Regular.otf");
}

@font-face {
  font-family: "SF PRO Rounded Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../src/assets/fonts/SF-Pro-Rounded-Bold.otf");
}

@font-face {
  font-family: "SF PRO Rounded SemiBold";
  src: url("../src/assets/fonts/SF-Pro-Rounded-Semibold.otf");
}

@font-face {
  font-family: "SF PRO Rounded Medium";
  src: url("../src/assets/fonts/SF-Pro-Rounded-Medium.otf");
}

@font-face {
  font-family: "SF PRO Rounded Thin";
  font-weight: lighter;
  src: url("../src/assets/fonts/SF-Pro-Rounded-Thin.otf");
}

@font-face {
  font-family: "The Last Shuriken 700";
  font-weight: bold;
  src: url("../src/assets/fonts/the-last-shuriken-700.ttf");
}

* {
  font-family: "SF PRO Text Medium";
}
