<ion-content>
  <div class="home-wrapper">
    <div class="header-wrapper">
      <div><</div>
      <span>Favoritos</span>
    </div>
    <div class="not-favorites">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="135"
        height="134"
        viewBox="0 0 135 134"
        fill="none"
      >
        <path
          d="M13 13L111 110"
          stroke="#282828"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M93 92.4303L68.1724 117L29.5517 78.7804C21.2759 70.8635 13 61.3086 13 48.7507C13.0037 44.1623 14.0698 39.6357 16.1165 35.5186C18.1632 31.4014 21.1361 27.8031 24.8069 25"
          stroke="#282828"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M50 19.5436C56.3406 20.7395 61.744 23.7835 67.864 29.8716C76.1344 21.7179 82.9713 19 92.6752 19C100.718 19 108.431 22.1498 114.118 27.7566C119.805 33.3634 123 40.9678 123 48.8969C123 60.4208 115.832 69.4442 108.279 77"
          stroke="#282828"
          stroke-width="7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div
        style="
          width: 268px;
          height: 131px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 21px;
          display: inline-flex;
        "
      >
        <div
          style="
            text-align: center;
            color: #262626;
            font-size: 28px;
            font-family: SF Pro Text;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Favoritos vazio
        </div>
        <div
          style="
            opacity: 0.57;
            text-align: center;
            color: #262626;
            font-size: 18px;
            font-family: SF Pro Text;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
          Encontre facilmente aquele<br />refeição inesquecível bem aqui
        </div>
      </div>
    </div>
  </div>
</ion-content>
