<ion-content>
  <ion-menu side="end" contentId="main-content">
    <div class="cart-manu-wrapper">
      <div style="margin-bottom: 25px; font-size: 20px">Carrinho</div>
      <ion-content>
        <div *ngIf="cart.length === 0" style="text-align: center">
          Atualmente o carrinho se encontra vazio
        </div>
        <div *ngIf="cart.length > 0" style="text-align: center">
          <div class="list-cart-group">
            <div
              class="food-card"
              style="position: relative"
              *ngFor="let item of cart"
            >
              <div class="count-amount-item">
                {{amountItemCartById(item.name)}}
              </div>
              <img src="{{item.imgUrl}}" alt="Veggie tomato mix" />
              <div class="food-details-group">
                <div>
                  <div class="food-name">{{item.name}}</div>
                  <div class="food-price">
                    {{item.price | number : '1.2-2'}}
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; gap: 5px">
                  <button class="button-add-item" (click)="addItemCart(item)">
                    <ion-icon
                      style="font-size: 20px"
                      name="add-outline"
                    ></ion-icon>
                  </button>
                  <button
                    class="button-add-item"
                    (click)="removeItemCart(item.name)"
                  >
                    <ion-icon
                      style="font-size: 20px"
                      name="remove-outline"
                    ></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="amount-cart-group">
            <div
              style="
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
              "
            >
              <div>Total de items</div>
              <div class="amount-cart-text">
                {{amountItemCart | number : '1.2-2'}}
              </div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
              "
            >
              <div>Total a pagar</div>
              <div class="amount-cart-text">
                {{amountPriceCart | number : '1.2-2'}}
              </div>
            </div>
          </div>
          <ion-button style="margin-top: 25px"> Finalizar pedido </ion-button>
        </div>
      </ion-content>
    </div>
  </ion-menu>

  <div class="home-wrapper">
    <div class="header-wrapper">
      <div class="header-group-actions">
        <div id="click-trigger" class="group-image-avatar">
          <img
            *ngIf="user"
            style="
              width: 41px;
              height: 41px;
              left: 2px;
              top: 2px;
              border-radius: 30px;
            "
            src="{{user?.photoURL}}"
          />
          <img
            *ngIf="!user"
            style="
              width: 41px;
              height: 41px;
              left: 2px;
              top: 2px;
              border-radius: 30px;
            "
            src="https://via.placeholder.com/41x41"
          />
        </div>
        <ion-popover
          class="popover-group"
          trigger="click-trigger"
          triggerAction="click"
        >
          <ng-template>
            <ion-content style="width: min-content; padding: 2px">
              <div style="width: min-content">
                <ion-button
                  style="font-size: 14px; width: 95px; height: auto"
                  (click)="logout()"
                >
                  Logout
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
        <div class="group-logo">
          <div class="logo-text" style="font-size: 38px">HAI</div>
          <div class="logo-text" style="font-size: 25px">BOSU</div>
        </div>
        <div class="group-button-card" id="main-content">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button>
                <ion-icon
                  style="color: var(--ion-color-yellow)"
                  name="cart"
                ></ion-icon>
              </ion-menu-button>
            </ion-buttons>
          </ion-toolbar>
        </div>
      </div>
      <div class="header-search">
        <ion-searchbar
          animated="true"
          color="light"
          placeholder="Animated"
        ></ion-searchbar>
      </div>
    </div>
    <div class="list-foods-wrapper">
      <img
        class="foods-banner"
        src="../../assets/banner_Prancheta 1 cópia.png"
        alt="Promoção"
      />
      <div class="foods-filter">
        <div class="card-filter">
          <img src="../../assets/icon-food2.svg" />
        </div>
        <div class="card-filter">
          <img src="../../assets/ion-food1.svg" />
        </div>
        <div class="card-filter">
          <img src="../../assets/icon-food2.svg" />
        </div>
        <div class="card-filter">
          <img src="../../assets/ion-food1.svg" />
        </div>
        <div class="card-filter">
          <img src="../../assets/icon-food2.svg" />
        </div>
        <div class="card-filter">
          <img src="../../assets/ion-food1.svg" />
        </div>
      </div>
      <div class="food-list">
        <div
          class="food-card"
          style="position: relative"
          *ngFor="let item of listProducts"
        >
          <div *ngIf="amountItemCartById(item.name)" class="count-amount-item">
            {{amountItemCartById(item.name)}}
          </div>
          <img src="{{item.imgUrl}}" alt="Veggie tomato mix" />
          <div class="food-details-group">
            <div>
              <div class="food-name">{{item.name}}</div>
              <div class="food-price">{{item.price | number : '1.2-2'}}</div>
            </div>
            <button class="button-add-item" (click)="addItemCart(item)">
              <ion-icon style="font-size: 20px" name="add-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
